{% extends "index.html" %}
{% load staticfiles mezzanine_tags blog_tags keyword_tags i18n %}

{% block content %}
    {% verbatim %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">TREASURE BOX</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href ng-click="newTreasure();">Submit</a></li>
                <li><a href ng-click="newSearch();">Search</a></li>
                <li ng-if="!$root.authToken"><a href="#/login">Login</a></li>
                <li ng-if="!$root.authToken"><a href="#/signup">Signup</a></li>
                <li ng-if="$root.authToken"><a href ng-click="logout();">Logout</a></li>
            </ul>
        </div>
    </nav>
    <script type="text/ng-template" id="addTreasure.html">
        <div class="modal-body">
            <div>
                <h3>
                    Paste your URL here
                </h3>
                <input type="text" placeholder="ex. http://www.treasurebox.io" ng-model="newTreasure.url" />
                <h3>
                    Title
                </h3>
                <input type="text" placeholder="ex. collect my fav sites" ng-model="newTreasure.title" />
                <h4>
                    Description
                </h4>
                <input type="text" placeholder="Hey, keep it short" ng-model="newTreasure.description" />
                <h3>
                    Categories
                </h3>
                <div>
                    <input type="radio" name="category" value="{{ newCategory }}" ng-model="newTreasure.categorySelection"><input type="text" placeholder="Add a new category" ng-model="newCategory">
                    <div ng-repeat="category in categories">
                        <input type="radio" name="category" value="{{ category.name }}" ng-model="newTreasure.categorySelection"/>{{ category.name }}
                    </div>
                </div>
                <button ng-click="saveTreasure()">
                    Save
                </button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="search.html">
        <div class="modal-body">
            <div>
                <h3>
                    Search
                </h3>
                <input type="text" placeholder="Keyword here..." ng-model="searchTerm" />

                <button ng-click="findTreasure()">
                    Search
                </button>
            </div>
        </div>
    </script>
    <div ng-view>
    {% endverbatim %}
    </div>
{% endblock %}