<!DOCTYPE HTML>
{% load staticfiles mezzanine_tags blog_tags keyword_tags i18n %}
<html ng-app="treasureBox">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Google font -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<!-- CSS -->
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
        <!-- JavaScript -->
		<!-- Vendor Files -->
		<script src="{% static "js/vendor/underscore.min.js" %}"></script>
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
		<!-- Angular v1.3.1 -->
		<script src="{% static "js/vendor/angular/angular.min.js" %}"></script>
		<script src="{% static "js/vendor/angular/angular-route.min.js" %}"></script>
		<!-- UI Bootstrap -->
		<script src="{% static "js/vendor/ui-bootstrap/ui-bootstrap-custom-0.12.0.min.js" %}"></script>
		<script src="{% static "js/vendor/ui-bootstrap/ui-bootstrap-custom-tpls-0.12.0.min.js" %}"></script>
		<!-- App -->
		<script src="{% static "js/app.js" %}"></script>
		<!-- Directives -->
		<script src="{% static "js/directives/treasure.js" %}"></script>
		<!-- Controllers -->
		<script src="{% static "js/controllers/index.js" %}"></script>
	</head>
	<body>
        {% block content %}
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.2.min.js" %}"><\/script>')</script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
	</body>
</html>